# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\carlo\anaconda3\lib\site-packages (4.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\carlo\anaconda3\lib\site-packages (from pymongo) (2.3.0)

In [3]:
from pymongo import MongoClient
client = MongoClient("companies.json")

In [11]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [12]:
cursor.list_database_names() # Comprobar que se ha creado correctamente. Creada directamente en Mongo

['admin', 'bd_labmongo', 'config', 'local']

In [16]:
db=cursor.bd_labmongo

In [18]:
colec=db.collection_labmongo

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [22]:
list(colec.find({'name': 'Babelgum'},{'name': True}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [34]:
list(colec.find({'number_of_employees':{'$gt': 5000}},{'name': True, 'number_of_employees': True, '_id': False}).limit(20).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [39]:
query3={'$and': [{'founded_year': {'$gte': 2000}},{'founded_year': {'$lte': 2005}}]}

select3 = {'name': True, 'founded_year': True, '_id': False}

list(colec.find(query3,select3).limit(5).sort('founded_year',-  1))

[{'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [42]:
# No se como calcular el ipo

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [45]:
query5={'$and': [{'number_of_employees': {'$lt': 1000}},{'founded_year': {'$lt': 2005}}]}

select5 = {'name': True, 'founded_year': True,'number_of_employees' : True,'_id': False}

list(colec.find(query5,select5).limit(2).sort('number_of_employees',-  1))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997}]

### 6. All the companies that don't include the `partners` field.

In [87]:
# Partner es un diccionario dentro de una lista
# {'partners': {'$nin': [0]}} -> Que en el primer argumento de la lista (el diccionario) no haya nada dentro.
query6 = {'partners': {'$nin': [0]}}
select6 = {'name': True, '_id': False,'partners': True}

list(colec.find(query6, select6).limit(5))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [88]:
query7 = ({"category_code": {"$eq": None}})
select7 = {'name': True, '_id': False,'category_code': True}

list(colec.find(query7, select7).limit(5))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [91]:
query8 = {'$and': [{'number_of_employees': {'$lt': 1000}},{'number_of_employees': {'$gte': 100}}]}

select8 = {'name': True,'number_of_employees' : True,'_id': False}

list(colec.find(query8,select8).limit(5).sort('number_of_employees',- 1))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931}]

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# No he calculado el IPO en el ejercicio anterior

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [101]:
query10 = {'number_of_employees': {'$gte': 0}} # Buscame los que tengan mas de 0 empleados

select10 = {'name': True,'number_of_employees' : True, '_id': False}

list(colec.find(query10,select10).limit(5).sort('number_of_employees',- 1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [115]:
query11 = {'$and': [{'founded_month': {'$gte': 7}},{'founded_month': {'$lte': 12}}]}

select11 = {'name': True,'founded_month' : True,'_id': False}

list(colec.find(query11,select11).limit(5))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [133]:
query12 = {'$and': [{'founded_year': {'$gte': 2000}},{'acquisition.price_amount': {'$gt': 10000000}}]}

select12 = {'name': True,'founded_year' : True, 'acquisition.price_amount': True,'_id': False}

list(colec.find(query12,select12).limit(2).sort('acquisition.price_amount', -1))

[{'name': 'SuccessFactors',
  'founded_year': 2001,
  'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'Sourcefire',
  'founded_year': 2001,
  'acquisition': {'price_amount': 2700000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [122]:
query13 = {'$and': [{'founded_year': {'$gt': 2010}},{'acquisition.acquired_year': {'$gt': 2010}}]}

select13 = {'name': True, 'acquisition.acquired_year': True,'_id': False}

list(colec.find(query13,select13).limit(5).sort('acquisition.acquired_year', -1))

[{'name': 'Ptch', 'acquisition': {'acquired_year': 2013}},
 {'name': 'WhosCall', 'acquisition': {'acquired_year': 2013}},
 {'name': 'travelmob', 'acquisition': {'acquired_year': 2013}},
 {'name': 'travelmob', 'acquisition': {'acquired_year': 2013}},
 {'name': 'Social Gaming Network', 'acquisition': {'acquired_year': 2011}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [134]:
query14 = {'founded_year': {'$ne' : None}} # Para que me escupa solo los que no son nulos.

select14 = {'name': True, 'founded_year': True,'_id': False}

list(colec.find(query14,select14).limit(5).sort('founded_year', - 1))

[{'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [139]:
query15 = {'founded_day': {'$lte': 7}}

select15 = {'name': True, 'founded_day': True, '_id': False}

list(colec.find(query15,select15).limit(5).sort('acquisition.price_amount', -1))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [141]:
query16 = {'$and': [{'category_code': 'web'},{'number_of_employees': {'$gt': 4000}}]}



select16 = {'name': True, 'number_of_employees': True, '_id': False}


list(colec.find(query16,select16).limit(5).sort('number_of_employees', 1))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Rakuten', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [149]:
query17 = {'$and': [{'acquisition.price_amount': {'$gt' : 10000000}},{'acquisition.price_currency_code' : 'EUR'}]}

select17 = {'name': True, 'acquisition.price_amount': True, '_id': False}

list(colec.find(query17,select17).limit(5).sort('acquisition.price_amount', -1))

[{'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [157]:
query18 = {'acquisition.acquired_month': {'$lte' : 6}}

select18 = {'name': True, 'acquisition': True, '_id': False}

list(colec.find(query18,select18).limit(1))

[{'name': 'Flektor',
  'acquisition': {'price_amount': 20000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://venturebeat.com/2007/05/30/fox-interactive-confirms-purchase-of-photobucket-and-flektor/',
   'source_description': 'Fox Interactive confirms purchase of Photobucket and Flektor',
   'acquired_year': 2007,
   'acquired_month': 5,
   'acquired_day': 30,
   'acquiring_company': {'name': 'Fox Interactive Media',
    'permalink': 'fox-interactive-media'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [159]:
query19 = {'$and': [{'founded_year': {'$gte': 2000}},{'founded_year': {'$lte': 2010}},{'acquisition.acquired_year': {'$gte' : 2011}}]}

select19 = {'name': True, 'founded_year': True,'acquisition.acquired_month': True, '_id': False}

list(colec.find(query19,select19).limit(5))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_month': 12}},
 {'name': 'Digg', 'founded_year': 2004, 'acquisition': {'acquired_month': 7}},
 {'name': 'Geni', 'founded_year': 2006, 'acquisition': {'acquired_month': 11}},
 {'name': 'Kyte', 'founded_year': 2006, 'acquisition': {'acquired_month': 1}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_month': 4}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [170]:
# Para calcular el tercer año, tengo que restar el founded_year menos el deadpooled_year
# ERROR!!!! No se como restar las dos strings

query20 = {'deadpooled_year': {'$gte': 3}}

select20 = {'name': True, 'deadpooled_year': True, '_id': False}

list(colec.find(query20,select20).limit(5))

[{'name': 'Zoho', 'deadpooled_year': 3},
 {'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013}]